/*
This file just adds the video background to the signup page.
The form itself is styled by Login.css.
*/

.signup-container {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    overflow: hidden; 
  }
  
  .signup-video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  
  .signup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    /* --- *** MODIFIED: Matches Login.css *** --- */
    opacity: 0.80; 
    z-index: 1; 
  }